---
title: Bloh=g
---
<div id="main_img" class="line" style="margin-bottom:20px;">
    <img src="./assets/img/main_biog.jpg" alt="Face Massage" class="flex"/>
</div>

<div class="line">

    <div class="unit size1of3">
        <img src="./assets/img/biog/biog_claire.jpg" alt="Claire Heavenor" class="flex"/>
    </div>


    <div class="unit size2of3">

        <p>My personal vision to is to use the power of touch to empower people on their journey towards health, vitality and wellness.  I love working with women in particular and since becoming a mother have become passionate about working with mothers - and of course their lovely babies!</p>

        <p>I am a trained holistic therapist offering massage (Swedish, Thai, acupressure, neuromuscular), aromatherapy, reflexology, holistic facials, relaxation and non medical nutrition advice.  I have trained all over the UK and also studied at the San Francisco School of Massage.</p>

        <p>My work has taken me all over the world touring with bands and artists as their in house massage therapist and in the summers (before having my children) I worked at festivals.  Before it moved site and then finished up, I ran the Healthy T Area at T in the Park, managing a lovely bunch of therapists and workshops.</p>

        <p>I am passionate about body work and I take a great deal of pleasure in delivering great treatments and helping clients feel good about themselves.  Taking a holistic approach means we try and achieve balance of mind, body and soul. We all have times and areas of our lives which carry stress for us. This can be manifested in many different ways through our bodies.</p>

        <p>I work with clients to try and facilitate their optimum health and vitality - we can look into all elements of their life and lifestyle before tailoring a bespoke treatment plan for them. In addition to the hands-on bodywork I can offer clients advice on yoga, breath work, stretching, exercises, nutrition, relaxation techniques and aromatherapy products to use at home.</p>

        <p>I also run baby massage classes for new parents and their babes.  Such a wonderful class, I love working with these new little people and their carers, lots of songs, smiles and sharing.  It's a real privilege to work with mums at this amazing time in their lives, I absolutely love it.</p>

        <p>I also work with women teaching yoga for pregnancy and will be completing my post natal training this year.  Please see <a href="http://www.lushtums.co.uk/prestwick">www.lushtums.co.uk/prestwick</a> for more detail.</p>

    </div>

    


</div>