---
title: Bloh=g
---
<div id="main_img" class="line" style="margin-bottom:20px;">
    <img src="./assets/img/main_biog.jpg" alt="Face Massage" class="flex"/>
</div>

<div class="line">

    <div class="unit size1of3">
        <img src="./assets/img/biog/biog_claire.jpg" alt="Claire Heavenor" class="flex"/>
    </div>


    <div class="unit size1of3">
        <p><strong>My personal vision is to use the power of touch to empower people on their journey toward
            vitality, health and wellness.</strong></p>

        <p>I am a trained holistic therapist offering massage (Swedish, Thai, acupressure, neuromuscular),
            aromatherapy, reflexology, holistic facials, relaxation and non medical nutrition advice. I trained with
            the UK-renowned holistic department at Cardonald College, Glasgow. I represented Cardonald College in a
            UK skills competition in aromatherapy massage where I won second place in the Scottish/North England
            regional final. I have also trained at the San Francisco School of Massage.</p>

        <p>I am passionate about body work and I take a great deal of pleasure in delivering great treatments and
            helping clients feel good about themselves.</p>

    </div>


    <div class="unit size1of3">
        <p>Taking a holistic approach means we try and achieve balance of mind, body and soul. We all have times and
            areas of our lives which carry stress for us. This can be manifested in many different ways through our
            bodies.</p>

        <p>I work with clients to try and facilitate their optimum health and vitality - looking into all elements
            of their life and lifestyle before tailoring a bespoke treatment plan for them. In addition to the
            hands-on bodywork I can offer clients advice on stretching, exercises, nutrition, relaxation techniques
            and aromatherapy products to use at home</p>

        <p>When I'm not giving treatments you will likely find me on my bike, my snowboard, my drum kit or at a
            festival somewhere.</p>
    </div>


</div>