---
title: Classes
---

<div id="main_img" class="line" style="margin-bottom:20px;">
    <img src="/assets/img/main_special_offers.jpg" alt="Face Massage" class="flex"/>
</div>

<div style="width:839px; height:515px; margin-top:-200px; position:relative;">

    <div style="position:absolute; top:150px; left:120px; width:220px;">

        <h3>Baby massage class - (Glasgow and Ayrshire)</h3>

        <p>Come and have fun with your little one, learn massage techniques and fun songs to use with them throughout their childhood.  There are so many benefits for you and baby to enjoy with this lovely skill.  Suitable from birth.  £45 per block of 6.</p>

        <h3>Pregnancy yoga - lushtums (Glasgow and Ayrshire)</h3>

        <ul>
            <li>"Breathe, Move & Relax To Birth.  Nourishing, active pregnancy yoga & birth preparation classes.</li>
            <li>Practice our tried and tested Birth Breathing, Moving & Mindfulness techniques to help you prepare for birth.</li>
            <li>Be comfy in your body</li>
            <li>Alleviate typical pregnancy aches & pains</li>
            <li>Alleviate typical pregnancy aches & pains</li>
            <li>Have time out to connect with your baby</li>
            <li>Meet other lovely mamas-to-be near you</li>
            <li>Enjoy pregnancy and prepare for birth and life as a parent</li>
        </ul>

        <p>90 minute class including a long, deep relaxation to finish </p>

        <p>Drop in £9<br>
            Block of 6 £45<br>
            Block of 10 £70</p>

        <p> For more information on our lushtums classes please check out
            <a href="http://www.lushtums.co.uk/prestwick">www.lushtums.co.uk/prestwick</a></p>


    </div>
</div>