---
title: Contact
---

<div id="main_img" class="line" style="margin-bottom:20px;">
    <img src="./assets/img/main_contact.jpg" alt="Neck Massage" class="flex"/>
</div>

<div class="line">

    <div class="unit size1of3">

        <div style="width:300px; height:240px;">
            <div id="map_canvas" style="width:100%; height:100%"></div>
        </div>

        We could put an image here instead??????
    </div>

    <div class="unit size1of3">

        <h3 class="medium">Take me to the Happy Place</h3>

        <p>Happy Place Holistics covers Glasgow and Ayrshire</p>

        <p>T: 07809 772 993 <br>
            info@happyplaceholistics.co.uk <br>
        claire.heavenor@lushtums.co.uk<br>
        www.happyplaceholistics.co.uk </p>

        <p>My time is important to me, please give at least 24 hours notice of cancelling an appointment. Happy
            Place will charge 50% of the treatment fee in the case of a late cancellation. </p>


    </div>

    <div class="unit size1of3">


        <form action="/contact" method="POST" name="send_enquiry" class="moforms" id="sendFriendForm">
            <ul>
                <li>
                    <label for="name" class="desc">Your Name (required)</label>
                    <input type="text" name="name" id="name" value="" class="full"/>
                </li>
                <li>
                    <label for="email" class="desc">Your Email (required)</label>
                    <input type="text" name="email" id="email" value="" class="full"/>
                </li>

                <li>
                    <label for="age" class="desc">Your Age</label>
                    <input type="text" name="age" id="age" value="" class="full"/>
                </li>

                <li>
                    <label for="telephone" class="desc">Your Telephone Number</label>
                    <input type="text" name="telephone" id="telephone" value="" class="full"/>
                </li>

                <li>
                    <label for="enquiry" class="desc">Your Enquiry (required)</label>
                    <textarea id="enquiry" name="enquiry" rows="5" class="full"></textarea>
                </li>
                <li>
                    <input type="submit" name="send_enquiry" value="Send"/>
                </li>
            </ul>
        </form>

    </div>

</div>