---
title: Home
---

<div id="main_img" class="line" style="margin-bottom:20px;">
    <img src="./assets/img/main_home.jpg" alt="Thai Massage" class="flex"/>
</div>

<div class="line">

    <div class="unit size1of3">
        <ul class="cheerful mod problems">
            <li>Stress and Anxiety?</li>
            <li>Muscle Tension?</li>
            <li>Aches and Pains?</li>
            <li>Sleep Problems?</li>
            <li>Migraines?</li>
            <li>Digestive Problems?</li>
            <li>Skincare?</li>
        </ul>
    </div>


    <div class="unit size1of3">
        <p>Happy Place Holistics is Glasgow based holistic therapy business that works with clients to help manage
            stress and promote health, harmony and wellness.</p>
        <p>We deliver effective, affordable and individually-tailored holistic treatments and advice. </p>
        <p>Happy Place Holistics is an environmentally and ethically conscious business.</p>
        <p class="txtR"><a href="/contact/"><img src="./assets/img/buttons/book_now_btn.png" alt="Book Now"
                                                 class="flR"/></a></p>

    </div>

    <div class="unit size1of3">
        <div class="cheerful mod feedback">

            <div id="testimonials">
                <p class="review">Claire is an extremely perceptive and talented therapist. The care and attention she
                    provided for my employees was greatly appreciated and I received universally positive feedback. She
                    has also provided therapeutic massage for myself and my family which we all found to be very
                    beneficial. Claire's caring approach and positive energy complement her technical skills.</p>
                <p class="author">Kirk Strawn M.D. - Family Practitioner and President of PopHealthMan</p>
            </div>

        </div>
    </div>

</div>