---
title: Services
---

<div id="main_img" class="line" style="margin-bottom:20px;">
    <img src="./assets/img/main_services.jpg" alt="Thai Massage" class="flex"/>
</div>

<h2>Go to your Happy Place</h2>

<div class="line">

    <div class="unit size1of3">
        <img src="./assets/img/services/treatment_room.jpg" alt="Treatment Room" class="flex"/>
    </div>

    <div class="unit size2of3">

        <ul class="line serviceDesc">
            <li class="unit size1of2">
                <p><img src="./assets/img/services/pregnancy_yoga.jpg" alt="Pregnancy Yoga"
                                              class="flL"/><strong>Pregnancy Yoga</strong> - Blurb goes here...</p>
            </li>
            <li class="unit size1of2">
                <p><img src="./assets/img/services/baby_massage.jpg" alt="Baby Massage"
                        class="flL"/><strong>Baby Massage</strong> - Blurb goes here...</p>
            </li>
            <li class="unit size1of2">
                <p><img src="./assets/img/services/postnatal_yoga.jpg" alt="Postnatal Yoga"
                        class="flL"/><strong>Postnatal yoga coming soon</strong> - Blurb goes here...</p>
            </li>
            <li class="unit size1of2"><p><img src="./assets/img/services/mobile_service_tmb.jpg" alt="Face Massage"
                                              class="flL"/><strong>Mobile Service</strong> - recreate Happy Place in
                your own home - for a small additional fee, treatments can be delivered in the comfort of your own home.
                Happy Place also does pamper parties.</p></li>

            <li class="unit size1of2"><p><img src="./assets/img/services/mobile_service_tmb.jpg" alt="Face Massage"
                                              class="flL"/><strong>Mobile Service</strong> - recreate Happy Place in
                your own home - for a small additional fee, treatments can be delivered in the comfort of your own home.
                Happy Place also does pamper parties.</p></li>
            <li class="unit size1of2"><p><img src="./assets/img/services/onsite_service_tmb.jpg" alt="Reflexology"
                                              class="flL"/><strong>Onsite Service</strong> - providing stress relief
                through workplace-friendly treatments for corporate clients in offices and businesses.</p></li>
            <li class="unit size1of2"><p><img src="./assets/img/services/festivals_events_tmb.jpg"
                                              alt="Festival Massage"
                                              class="flL"/><strong>Festivals and Events</strong> - Happy Place creates a
                fun and friendly healing haven for party people and festival goers.</p></li>
            <li class="unit size1of2"><p><img src="./assets/img/services/happy_place_tmb.jpg" alt="Face Massage"
                                              class="flL"/><strong>Happy Place</strong> works to empower clients who may
                be disadvantaged in some way. We would love to hear about opportunities to bring holistic therapies to
                care homes, community projects, hospitals, hospices or addiction centres.</p></li>
        </ul>

        <p class="txtR"><a href="/contact/"><img src="./assets/img/buttons/book_now_btn.png" alt="Book Now"
                                                 class="flR"/></a>
        </p>

    </div>

</div>