<div id="header" class="line">
    <div class="unit size1of5">
        <div class="logo"><img src="./assets/img/hp_logo.png" alt="Happy Place Holistics Logo" width="179" height="178" /> </div>
    </div>
    <div class="unit size4of5 txtR contactTop">
        <span class="mob altTxt xxl">07809 772 993</span>
        <span class="email altTxt">info@happyplaceholistics.co.uk</span>

        <a class="facebook_link" rel="external" href="http://www.facebook.com/pages/Happy-Place-Holistics/151850661523618" target="_blank"><img src="./assets/img/facebook_icon.png" /></a>

    </div>
</div>
