<ul class="nav line">

    <li class="first"><a href="/">Home</a></li>
    <li><a href="/classes">Classes</a></li>
    <li><a href="/treatment-prices">Treatment/Prices</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/biog">About Me</a></li>
    <li><a href="/contact">Contact</a></li>
    <!--<li><a href="/blog">Blog</a></li>-->
    <!--<li><a href="/gallery">Gallery</a></li>-->
    <!--<li><a href="/special-offers">Special Offers</a></li>-->
</ul>